@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap");

.Vision {
  height: 127.4rem;
  width: 100%;
  background-color: #0e0a41;
}
.heading {
  height: 20rem;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 2rem;
}
.heading img {
  /* height: 100%;
  width: 15%;
  width: 387px;
height: 299.82px; */
  width: 38.7rem;
  height: 29.9rem;
  margin-left: -20rem;
  margin-right: 4rem;
}
.heading h1 {
  font-size: 4rem;
  color: #97daf7;
  font-family: "Mulish", sans-serif;
}
.vision_para {
  background-color: #1a1557;
  /* height: 14rem;
  width: 60%;
  width: 1036px;
height: 247px; */
  width: 103.6rem;
  height: 24.7rem;
  margin: auto;
  border-radius: 1rem;
  padding: 3rem 4rem;
  box-sizing: border-box;
}
.vision_para p {
  color: #8ac6e5;
  font-size: 1.8rem;
  font-family: "Mulish", sans-serif;
  line-height: 3.06rem;
  text-align: left;
}
.vision_box {
  height: 60rem;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  /* background-color: aliceblue; */
  margin-top: 6rem;
  flex-wrap: wrap;
}
.vision_box1 {
  /* height: 50rem;
  width: 45%;
  width: 500px;
height: 585px; */
  width: 50rem;
  height: 58.5rem;
  background-color: #1d175b;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem 3rem;
  box-sizing: border-box;
}
.vision_box1 h1 {
  color: #bde0a2;
  font-family: "Mulish", sans-serif;
  text-align: center;
  line-height: 3;
}
.vision_box1 p {
  color: #8ac6e5;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
}
.vision_box2 {
  /* height: 50rem;
  width: 45%;
  width: 500px;
height: 585px; */
  width: 50rem;
  height: 58.5rem;
  background-color: #1d175b;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 3rem;
  box-sizing: border-box;
}
.vision_box2 h1 {
  color: #bde0a2;
  font-family: "Mulish", sans-serif;
  text-align: center;
  line-height: 3;
}
.vision_box2 p {
  color: #8ac6e5;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
}
.vision_box1 img {
  /* height: 40%;
  width: 60%;
  width: 230px;
height: 230px; */
  width: 23rem;
  height: 23rem;
}
.vision_box2 img {
  width: 23rem;
  height: 23rem;
}
@media screen and (max-width: 1280px) {
  /* .vision_box1 {
    height: 55rem;
    background-color: red;
  }
  .vision_box2 {
    height: 55rem;
  } */
  .vision_box {
    width: 85%;
  }
  .Vision {
    width: 131rem;
  }
}


@media screen and (max-width: 768px) {
  .Vision {
    width: 131rem;
    height: 180rem;
  }
  .vision_para {
    width: 80%;
  }
  .vision_box {
    height: 130rem;
    width: 100%;

    flex-direction: column;

    align-items: center;
  }
  .vision_box1,
  .vision_box2 {
    width: 40%;
  }
}
